<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tinkerlust_PositionRandomizer>
            <version>0.0.1</version>
        </Tinkerlust_PositionRandomizer>
    </modules>
    <global>
		<helpers>
			<positionrandomizer>
				<class>Tinkerlust_PositionRandomizer_Helper</class>
			</positionrandomizer>
		</helpers>		    	
		<models>
			<positionrandomizer>
				<class>Tinkerlust_PositionRandomizer_Model</class>
				<resourceModel>positionrandomizer_resource</resourceModel>
			</positionrandomizer>
			<positionrandomizer_resource>
				<class>Tinkerlust_PositionRandomizer_Model_Resource</class>
				<entities>
					<categoryproduct>
						<table>catalog_category_product</table>
					</categoryproduct>
				</entities>
			</positionrandomizer_resource>
		</models>
	</global>    	
	<crontab>
        <jobs>
            <positionrandomizer_cron>
                <schedule><cron_expr>0 15 * * *</cron_expr></schedule>
                <run><model>positionrandomizer/observer::randomize</model></run>
            </positionrandomizer_cron>
        </jobs>
    </crontab>
</config>